@{
    ViewData["Title"] = "Acasă";
}
<br />
<div class="text-center">
    <div class="mt-5">
        <h1 class="display-4">Bine ați venit</h1>
    </div>
    <div class="mt-5">
        <p>Despre: <a href="https://www.afir.info/">AFIR - Agenția pentru Finanțarea Investițiilor Rurale</a>.</p>
    </div>
</div>
