@{
    ViewData["Title"] = "Politica de confidențialitate";
}
<div class="text-center">
    <div class="mt-5">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="mt-5">
        <p>
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/css/Image/Logo.svg" width="24" height="27" /> - Test AFIR - </a> &copy; 2023 - Bartic Sergiu - Alexandru || <a href="email: srgbrtc@gmail.com">srgbrtc@gmail.com</a> || <a href="tel: 0787 696 795">0787 696 795</a>
        </p>
    </div>
    <div class="mt-5">
        <textarea class="form-control" rows="10"></textarea>
    </div>
</div>
